main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.list {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    margin: 15px;
    justify-content: center;
    align-items: center;
    border: 3px solid #3d3d3d;
    border-radius: 1rem;
}

p {
    margin: 0.5rem;
    text-align: center;
}